include ./layout.pug
.container-fluid
  .row.align-items-center.justify-content-center
    .col-lg-6.col-sm-10.mt-5.login.logo
      .row.align-items-start.justify-content-center
        img.d-inline-block(src="/static/assets/images/docsoc-sf-logo.svg" width="40" style="vertical-align: sub;")
        h1.d-inline-block.ml-2 DoCSoc Sponsor Portal
  .row.align-items-center.justify-content-center
    .col-lg-6.col-sm-10.mt-5.login
      .row.align-items-start.justify-content-center
        - var mklass =  member ? 'active-tab' : 'inactive-tab'
        - var sklass = !member ? 'active-tab' : 'inactive-tab'
          .col-6.member-tab.login-tab.text-center(class = mklass) Members
          .col-6.sponsor-tab.login-tab.text-center(class = sklass) Sponsors
      .row.align-items-start.justify-content-center
        form(method="post" action="/member-login").member-login.d-none.col
          .row.mt-3
            .col
              h1 Member Login:
          .row.mt-3
            .col
              if err && member
                .error #{err}
              else 
                br
          .row.mt-3.mb-5
            .col
              .row.justify-content-center
                label(for="user").col-12 
                  h2 Username: 
                input(type="text", name="user").col-6.center
          .row.mt-5
            .col
              .row.justify-content-center
                label(for="pass").col-12 
                  h2 Password: 
                input(type="password", name="pass").col-6.center
          .row.mt-5.mb-5
            .col
              button.btn.btn-primary.btn-lg(type='submit' style="font-size:2rem")
                .mr-5.ml-5.pr-5.pl-5.pt-3.pb-3 Login
        form(method="post" action="/sponsor-login").sponsor-login.d-none.col
          .row.mt-3
            .col
              h1 Sponsor Login:
          .row
            .col
              if err && !member
                .error #{err}
              else 
                br
          .row.mt-3.mb-5
            .col
              .row.justify-content-center
                label(for="user").col-12 
                  h2 Username: 
                input(type="text", name="user").col-6.center
          .row.mt-3
            .col
              .row.justify-content-center
                label(for="pass").col-12 
                  h2 Password: 
                input(type="password", name="pass").col-6.center
          .row.mt-5.mb-5
            .col
              button.btn.btn-primary.btn-lg(type='submit' style="font-size:2rem")
                .mr-5.ml-5.pr-5.pl-5.pt-3.pb-3 Login