include ./layout.pug
.login
    .login-header
        .member-login-tab.login-tab.active-tab Members
        .sponsor-login-tab.login-tab.inactive-tab Sponsors
    form(method="post" action="/member-login").member-login
        h1 Member Login:
            br
            .error #{error}
            .form-group
                label(for="user") Username: 
                input(type="text", name="user")
            .form-group
                label(for="pass") Password: 
                input(type="password", name="pass")
            button.btn-primary(type='submit') Login
    form(method="post" action="/sponsor-login").sponsor-login.hidden-form
        h1 Sponsor Login:
            br
            .error #{error}
            .form-group
                label(for="user") Username: 
                input(type="text", name="user")
            .form-group
                label(for="pass") Password: 
                input(type="password", name="pass")
            button.btn-primary(type='submit') Login