include ./layout.pug
.member
  nav.header.head
    include ./member/header.pug
    include ./member/navigation.pug
  if error
    .alert.alert-danger(role="alert")=error
  if success
    .alert.alert-success(role="alert")=success
  .container
    .row.justify-content-center.mt-5.mb-5
      .col-lg-8.col-sm-12
        h3.text-center These companies are generous enough to contribute to the Department of Computing Society, 
          | please check out the opportunities they have to offer!
  #myTabContent.tab-content
    - var rank = 'gold'
    include ./member/sponsors.pug
    - var rank = 'silver'
    include ./member/sponsors.pug
    - var rank = 'bronze'
    include ./member/sponsors.pug
  .container-fluid.mt-5.mb-5
    .row.justify-content-center
      .col-3.text-center
        a(href="/assets/Privacy Notice.pdf").subtext Privacy Notice
        |  | 
        a.mt-5.mr-5(href="/about").subtext About