include ./layout.pug
.member
  nav.header.head
    .container-fluid
      .row.align-items-center
        .col-7.d-inline-block
          img.d-inline-block(src="static/assets/images/docsoc-sf-logo.svg" width="40" style="vertical-align: sub;")
          h1.d-inline-block DoCSoc Sponsor Portal
        .col-5
          .row.align-items-center.justify-content-end
            .col-lg-8.col-sm-12
              h2.float-right Hello there, #{name}
            .col-lg-4.col-sm-6
              form(method="post" action="/logout")
                button.btn.btn-primary.btn-lg.btn-block(type='submit') Logout
  ul#myTab.nav.nav-tabs.justify-content-center.header(role='tablist', style="margin-top: -2px;")
    li.nav-item.col-md-auto.d-inline-block
      a#gold-tab.nav-link.active(data-toggle='tab', href='#gold', role='tab', aria-controls='gold', aria-selected='true')
        img.d-inline-block(src="static/assets/images/icons/gold.png" width="28" style="vertical-align: sub;")
        h2.d-inline-block Gold
    li.nav-item.col-md-auto.d-inline-block
      a#silver-tab.nav-link(data-toggle='tab', href='#silver', role='tab', aria-controls='silver', aria-selected='false')
        img.d-inline-block(src="static/assets/images/icons/silver.png" width="28" style="vertical-align: sub;")
        h2.d-inline-block Silver
    li.nav-item.col-md-auto.d-inline-block
      a#bronze-tab.nav-link(data-toggle='tab', href='#bronze', role='tab', aria-controls='bronze', aria-selected='false')
        img.d-inline-block(src="static/assets/images/icons/bronze.png" width="28" style="vertical-align: sub;")
        h2.d-inline-block Bronze
  .container
    .row.justify-content-center.mt-5.mb-5
      .col-lg-8.col-sm-12
        h3.text-center These companies are generous enough to contribute to the Department of Computing Society, please check out the opportunities they have to offer!
  #myTabContent.tab-content
    #gold.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='gold-tab')
      .container-fluid
        .row.justify-content-center
          .col-lg-8.col-sm-11
            .card
              .card-body
                .row
                  .col-3
                    img(src="static/assets/images/sponsors/facebook_logo.png" width="150px")
                  .col-7
                    h2.card-title sponsor.name
                    p.card-text sponsor.description
                    a.card-link(href='#') sponsor.link
              ul.list-group.list-group-flush
                li.list-group-item 
                  h3 News
                  .card
                    .card-body
                      h4.card-title sponsor.news[0].title
                      p.card-text sponsor.news[0].description
                      a.card-link(href='#') sponsor.news[0].link
                li.list-group-item
                  h3 Positions
                  .card
                    .card-body
                      h4.card-title sponsor.position[0].title
                      a.card-link(href='#') sponsor.position[0].link
                      p.card-text sponsor.position[0].description
                      p.card-text sponsor.position[0].requirements
                      button.btn Apply 
                        span.octicon.octicon-trashcan
                    ul.list-group.list-group-flush
                      li.list-group-item

    #silver.tab-pane.fade(role='tabpanel', aria-labelledby='silver-tab') 
      h1 Silver
    #bronze.tab-pane.fade(role='tabpanel', aria-labelledby='bronze-tab')
      h1 Bronze
  br
  br
  br
