include ./layout.pug
.member
  nav.header.head
    include ./member/header.pug
    include ./member/navigation.pug
  .container
    .row.justify-content-center.mt-5.mb-5
      .col-lg-8.col-sm-12
        h3.text-center These companies are generous enough to contribute to the Department of Computing Society, please check out the opportunities they have to offer!
  #myTabContent.tab-content
    - var rank = 'gold'
    include ./member/sponsors.pug
    - var rank = 'silver'
    include ./member/sponsors.pug
    - var rank = 'bronze'
    include ./member/sponsors.pug
