include ./layout.pug
.sponsor
  nav.header.navbar
    .container-fluid
      h1.col-11 Hello there, #{name}
      form.col-1(method="post" action="/logout")
        button.btn-primary.btn-lg(type='submit') Logout
  .container
    br
    h2.row Student Cvs:
    for user in users
      .row.cv
        .col-4= user.FirstName + ' ' + user.Surname
        .col-5= user.email
        .col-2= user.cv
        .col-1 
          form.col-4(action="/sponsor-show-cv/" + user.username + "/" + user.cv method="post")
            button.btn.btn-outline-light.full-width(type='submit')
              span.octicon.octicon-eye

