include ./layout.pug
.sponsor
  nav.header.head
    .container-fluid
      .row.align-items-center
        .col-7.d-inline-block
          img.d-inline-block(src="static/assets/images/docsoc-sf-logo.svg" width="40" style="vertical-align: sub;")
          h1.d-inline-block DoCSoc Sponsor Portal
        .col-5
          .row.align-items-center.justify-content-end
            .col-lg-8.col-sm-12
              h2.float-right Hello there, #{sponsor.info.name}
            .col-lg-4.col-sm-6
              form(method="post" action="/logout")
                button.btn.btn-primary.btn-lg.btn-block(type='submit') Logout
      ul#myTab.nav.nav-tabs.justify-content-center.header(role='tablist', style="margin-top: -2px;")
        if(sponsor.info.rank != 'Bronze')
          li.nav-item.col-md-auto.d-inline-block
            a#positions-tab.nav-link.active(data-toggle='tab', href='#positions', role='tab', aria-controls='positions', aria-selected='false')
              h2.d-inline-block Positions
          li.nav-item.col-md-auto.d-inline-block
            a#news-tab.nav-link(data-toggle='tab', href='#news', role='tab', aria-controls='news', aria-selected='false')
              h2.d-inline-block News
        li.nav-item.col-md-auto.d-inline-block
          a#info-tab.nav-link(data-toggle='tab', href='#info', role='tab', aria-controls='info', aria-selected='true' class=(sponsor.info.rank === 'Bronze' ? 'active' : ''))
            h2.d-inline-block Info

  #myTabContent.tab-content.mt-5.mb-5
    #positions.tab-pane.fade.show(role='tabpanel', aria-labelledby='positions-tab' class=(sponsor.info.rank === 'Bronze' ? '' : 'active')) 
      .container-fluid
        .row.justify-content-center
          .col-lg-8.col-sm-11
            .card
              .card-body
                h2.card-title Add New Position:
                form(method="post" action="/sponsor/add-position")
                .row.mt-2.mb-2
                  label.col-2(for="name") Name: 
                  input.col-9(type="text", name="name")
                .row.mt-2.mb-2
                  label.col-2(for="description") Description: 
                  input.col-9(type="text", name="description" style="height:100px")
                .row.mt-2.mb-2
                  label.col-2(for="requirements") Requirements: 
                  input.col-9(type="text", name="requirements" style="height:100px")
                .row.mt-2.mb-2
                  label.col-2(for="link") Link: 
                  input.col-9(type="text", name="link")
                .row.justify-content-center.mt-2.mb-2
                  button.btn.btn-primary.btn-lg.col-10(type='submit') Add

    #news.tab-pane.fade.show(role='tabpanel', aria-labelledby='news-tab')
      .container-fluid
        .row.justify-content-center
          .col-lg-8.col-sm-11
            .card
              .card-body
                h2.card-title Add New News Story:
                form(method="post" action="/sponsor/add-position")
                .row.mt-2.mb-2
                  label.col-2(for="title") Title: 
                  input.col-9(type="text", name="title")
                .row.mt-2.mb-2
                  label.col-2(for="article") Article: 
                  input.col-9(type="text", name="article" style="height:100px")
                .row.mt-2.mb-2
                  label.col-2(for="link") Link: 
                  input.col-9(type="text", name="link")
                .row.justify-content-center.mt-2.mb-2
                  button.btn.btn-primary.btn-lg.col-10(type='submit') Add

    #info.tab-pane.fade.show(role='tabpanel', aria-labelledby='info-tab' class=(sponsor.info.rank === 'Bronze' ? 'active' : ''))
      .container-fluid
        .row.justify-content-center
          .col-lg-8.col-sm-11
            .card
              .card-body
                h2.card-title Edit Your Info:
                form(method="post" action="/sponsor/add-position")
                .row.mt-2.mb-2
                  label.col-2(for="name") Name: 
                  input.col-9(type="text", name="name")
                .row.mt-2.mb-2
                  label.col-2(for="email") Email: 
                  input.col-9(type="text", name="email")
                .row.mt-2.mb-2
                  label.col-2(for="description") Description: 
                  input.col-9(type="text", name="description" style="height:100px")
                .row.mt-2.mb-2
                  label.col-2(for="link") Link: 
                  input.col-9(type="text", name="link")
                .row.justify-content-center.mt-2.mb-2
                  button.btn.btn-primary.btn-lg.col-10(type='submit') Save

    