include ./layout.pug
.sponsor
  nav.header.head
    include ./sponsor/header.pug
    include ./sponsor/navigation.pug
  if error
    .alert.alert-danger(role="alert")=error
  if success
    .alert.alert-success(role="alert")=success
  #myTabContent.tab-content.mt-5.mb-5
    include ./sponsor/positions.pug
    include ./sponsor/news.pug
    include ./sponsor/info.pug
  .container-fluid.mt-5.mb-5
    .row.justify-content-center
      .col-lg-7.col-sm-10.text-center.mb-4
        .subtext For any help or support on the portal, email us at 
          a(href="mailto:docsoc@ic.ac.uk") docsoc@ic.ac.uk
    .row.justify-content-center
      .col-lg-7.col-sm-10.text-center.mb-4
        .subtext
          a(href="/assets/Privacy Notice.pdf") Privacy Notice