html
    body
        h1 Hello there #{sponsor.username} 
        ul
            for user in sponsor.users
                li= user
        form(method="post" action="/logout")
            button.btn.btn-primary(type='submit') Logout