include ./layout.pug
.container-fluid
  .row.align-items-center.justify-content-center
    .col-lg-6.col-sm-10.mt-5.login.logo
      .row.align-items-start.justify-content-center
        img.d-inline-block(src="/assets/images/docsoc-sf-logo.svg" width="100" style="vertical-align: sub;")
        .display-1.d-inline-block.ml-2 Sponsors Portal
      .row.align-items-start.justify-content-center
        .display-3.d-inline-block Team
  .row.align-items-center.justify-content-center
    .card.mt-4.mb-4.ml-4.mr-4(style="width: 18rem;")
      img.card-img-top(src="https://www.georgesoteriou.com/public/img/me.jpg")
      .card-body
        h4.card-title George Soteriou
        h6.card-subtitle.mb-2.text-muted DoCSoc Webmaster
        p.card_text Project Lead and Full Stack Developer
        a(href="https://www.georgesoteriou.com/").card-link Website
        a(href="https://github.com/georgesoteriou").card-link Github
    .card.mt-4.mb-4.ml-4.mr-4(style="width: 18rem;")
      img.card-img-top(src="https://lh5.googleusercontent.com/-00EK_a7hhyw/AAAAAAAAAAI/AAAAAAAAMRM/WNCq8bWTDcs/il/photo.jpg")
      .card-body
        h4.card-title Jack Pordi
        h6.card-subtitle.mb-2.text-muted Academic Events Coordinator
        p.card_text DevOps and Platform Engineer
        a(href="#").card-link Sample
        a(href="#").card-link Sample