html{
  background-color: #f5f5f5 !important;
  height: 100%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5 !important;
}

h1, h2, h3, h4 {
  font-family: "Montserrat",Geneva,Verdana,sans-serif;
}

.subtext {
  font-size: 0.9rem
}

.nav-link.active{
  background-color: #f5f5f5 !important;
  border-color: #f5f5f5 !important;
}

.border-radius {
  border-radius: 5px;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.header{
  background-color: #225590;
  color: white;
}

.nav-link{
  color: white;
}

.nav-link:hover{
  color: white;
  border-color: #f5f5f5 !important;
}

.head {
  padding-top: 20px;
}

textarea {
  resize: none;
}
/* === LOGIN === */

.login{
  background-color: #225590;
  text-align: center;
  border-radius: 5px;
  margin: auto;
  color: white;
}

.logo {
  padding-top: 10px;
}

.error {
  color: red;
  margin: 0;
  padding: 0;
}

.login .member-tab {
  border-top-left-radius: 5px;
}

.login .sponsor-tab {
  border-top-right-radius: 5px;
}

.login .login-tab{
  height: 60px;
  background-color: #59d;
  vertical-align: middle;
  line-height: 60px;
  font-size: 1.5em;
  cursor: pointer;
}

.login .inactive-tab:hover {
  background: #48c;
}

.login .active-tab{
  background-color: #225590;
}

.center{
  text-align: center;
}



/* === MEMBER === */



/* === SPONSOR === */

.sponsor .cv {
  background-color: #48c;
  color: white;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 1.2em;
}

.sponsor .add-position {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sponsor .position {
  background-color: #225590;
  color: white;
  width: 95%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.sponsor .bg {
  background-color: #225590;
  color: white;
  margin-top: 20px;
  border-radius: 5px;
}

.sponsor .cvs {
  width: 90%;
  background-color: #225590;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.sponsor .full-width {
  padding: 0;
  width: 100%;
  height: 40px;
}

.sponsor .top-margin {
  margin-top: 20px;
}

.sponsor .account-settings {
  position: absolute;
  top: 20%;
  width: 40%;
  left: 30%;
  background-color: #225590;
  padding: 4%;
  z-index: 99999;
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, .5);
  border-radius: 5px;
  color: white;
}


table {
  border: 4px solid black !important

}

th, td {
  border: 1px solid black !important
}

.bespoke {
  position: absolute;
  width: 40px;
  right: -10px;
  top: -10px;
}

textarea {
  height: 300px !important;
}

.form-control {
  font-size: 1.2rem !important;
}

/* sponsor description shorten for members */
.sidebar-box {
  max-height: 300px;
  position: relative;
  overflow: hidden;
}

.sidebar-box .read-more { 
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; padding: 30px 0; 
	
  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: linear-gradient(to bottom, transparent, white);
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* xs < 768 */
@media screen and (max-width: 767px) {
  body {
      font-size: 1.6rem !important
  }
}

/* sm */
@media screen and (min-width: 768px) {
  body {
      font-size: 1.7rem !important
  }
  .hide-small{
    font-size: 0;
  }
  .small-font {
    font-size:1.3rem
  }
}

/* md */
@media screen and (min-width: 992px) {
  body {
    font-size: 1.3rem !important
  }
}

/* lg */
@media screen and (min-width: 1200px) {
  body {
      font-size: 1.2rem !important
  }  
  .hide-small{
    font-size: inherit;
  }
  .small-font {
    font-size: inherit;
  }
}