ul#myTab.nav.nav-tabs.justify-content-center.header(role='tablist', style="margin-top: -2px;")
  li.nav-item.col-md-auto.d-inline-block
    a#gold-tab.nav-link.active(data-toggle='tab', href='#gold', role='tab', aria-controls='gold', aria-selected='true')
      img.d-inline-block(src="/static/assets/images/icons/gold.png" width="28" style="vertical-align: sub;")
      h2.d-inline-block Gold
  li.nav-item.col-md-auto.d-inline-block
    a#silver-tab.nav-link(data-toggle='tab', href='#silver', role='tab', aria-controls='silver', aria-selected='false')
      img.d-inline-block(src="/static/assets/images/icons/silver.png" width="28" style="vertical-align: sub;")
      h2.d-inline-block Silver
  li.nav-item.col-md-auto.d-inline-block
    a#bronze-tab.nav-link(data-toggle='tab', href='#bronze', role='tab', aria-controls='bronze', aria-selected='false')
      img.d-inline-block(src="/static/assets/images/icons/bronze.png" width="28" style="vertical-align: sub;")
      h2.d-inline-block Bronze