ul#myTab.nav.nav-tabs.justify-content-center.header.mt-3(role='tablist', style="margin-top: -2px;")
  if(sponsor.info.rank != 'Bronze')
    li.nav-item.col-md-auto.d-inline-block
      a#positions-tab.nav-link.active(data-toggle='tab', href='#positions', role='tab', aria-controls='positions', aria-selected='false')
        h2.d-inline-block Opportunities
    li.nav-item.col-md-auto.d-inline-block
      a#news-tab.nav-link(data-toggle='tab', href='#news', role='tab', aria-controls='news', aria-selected='false')
        h2.d-inline-block News
  li.nav-item.col-md-auto.d-inline-block
    a#info-tab.nav-link(data-toggle='tab', href='#info', role='tab', aria-controls='info', aria-selected='true' class=(sponsor.info.rank === 'Bronze' ? 'active' : ''))
      h2.d-inline-block Account
if err
  .alert.alert-danger(role="alert") 
    strong oh snap! 
    | #{err}