html{
  background-color: #f5f5f5 !important;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5 !important;
}


.nav-link.active{
  background-color: #f5f5f5 !important;
  border-color: #f5f5f5 !important;
}

.border-radius {
  border-radius: 5px;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.header{
  background-color: #225590;
  color: white;
}

.nav-link{
  color: white;
}

.nav-link:hover{
  color: white;
  border-color: #f5f5f5 !important;
}

.head {
  padding-top: 20px;
}

/* === LOGIN === */

.login{
  background-color: #225590;
  width: 500px;
  height: 500px;
  text-align: center;
  border-radius: 5px;
  margin: auto;
  margin-top: 10%;
  color: white;
  font-size: 1rem;
}

.error {
  font-size: 1rem;
  color: red;
  margin: 0;
  padding: 0;
}

.login .member-tab {
  border-top-left-radius: 5px;
}

.login .sponsor-tab {
  border-top-right-radius: 5px;
}

.login .login-tab{
  display: inline-block;
  width: 50%;
  height: 50px;
  background-color: #59d;
  margin: 0;
  vertical-align: middle;
  line-height: 50px;
  font-size: 1.2em;
  cursor: pointer;
}

.login .inactive-tab:hover {
  background: #48c;
}

.login .active-tab{
  background-color: #225590;
}

.login form {
  line-height: 50px;
}

.login .form-group input {
  width: 70%;
  height: 30px;
  margin-bottom: 20px;
  font-size: 1rem;
}




/* === MEMBER === */



/* === SPONSOR === */

.sponsor .cv {
  background-color: #48c;
  color: white;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 1.2em;
}

.sponsor .add-position {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sponsor .position {
  background-color: #225590;
  color: white;
  width: 95%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.sponsor .bg {
  background-color: #225590;
  color: white;
  margin-top: 20px;
  border-radius: 5px;
}

.sponsor .cvs {
  width: 90%;
  background-color: #225590;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.sponsor .full-width {
  padding: 0;
  width: 100%;
  height: 40px;
}

.sponsor .top-margin {
  margin-top: 20px;
}

.sponsor .account-settings {
  position: absolute;
  top: 20%;
  width: 40%;
  left: 30%;
  background-color: #225590;
  padding: 4%;
  z-index: 99999;
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, .5);
  border-radius: 5px;
  color: white;
}