body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* === LOGIN === */

.login{
  background-color: #225590;
  width: 500px;
  height: 500px;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  margin-top: 10%;
  color: white;
  font-size: 1rem;
}

.error {
  font-size: 1rem;
  color: red;
  margin: 0;
  padding: 0;
}

.login .member-tab {
  border-top-left-radius: 10px;
}

.login .sponsor-tab {
  border-top-right-radius: 10px;
}

.login .login-tab{
  display: inline-block;
  width: 50%;
  height: 50px;
  background-color: #59d;
  margin: 0;
  vertical-align: middle;
  line-height: 50px;
  font-size: 1.2em;
  cursor: pointer;
}

.login .inactive-tab:hover {
  background: #48c;
}

.login .active-tab{
  background-color: #225590;
}

.login form {
  line-height: 50px;
}

.login .form-group input {
  width: 70%;
  height: 30px;
  margin-bottom: 20px;
  font-size: 1rem;
}


/* === MEMBER === */

.member .cvs {
  margin-top: 20px;
}

.member .cv {
  background-color: #59d;
}

.member .header, .sponsor .header{
  background-color: #225590;
  color: white;
}

.member .rename-row-padding {
  padding: 5px 15px 5px 15px;
}

.member .name-row-padding {
  padding: 15px 25px 15px 0px;
}

.member .upload-padding {
  padding: 0 5px 0 15px;
}

.member .full-width {
  width: 100%;
  margin: auto;
}

.member .submit {
  width: 10%;
}

.member .send-cv-button {
  width: 50%;
  margin: auto; 
}

.member .send-cvs {
  width: 80%;
}

.member .send-cvs .color {
  text-align: center;
}

.member .table-heading {
  font-weight: 500;
  line-height: 1.7;
  font-size: 1.5rem;
}

.member .head {
  font-size: 2rem;
}

.color1 {
  background-color: #59d;
}

.color2 {
  background-color:#48c
}


/* === SPONSOR === */

.sponsor .cv {
  background-color: #59d;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.sponsor .add-position {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sponsor .position {
  background-color: #59d;
  width: 95%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.sponsor .bg {
  background-color: #59d;
  margin-top: 20px;
  border-radius: 5px;
}

.sponsor .cvs {
  width: 90%;
  background-color: #48c;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.sponsor .top-margin {
  margin-top: 20px;
}
